body {
    font-family: "Edu TAS Beginner", cursive;
}

main {
    background-image: url(/imgs/cork.png);
}

.width-calc {
    width: calc((100% - 32px) / 3);
}

header {
    background-image: url(/imgs/wall.png);
}

.pos {
    left: 180px;
    top: -10px;
}

.rot-div:hover{
    transform: rotate(20deg);
    transition: 0.5s;
}

.rot-div:hover .pos {
    display: none;
}