body {
    font-family: "Edu TAS Beginner", cursive;
}

main {
    background-image: url(/imgs/cork.png);
}

.width-calc {
    width: calc((100% - 32px) / 3);
}

header {
    background-image: url(/imgs/wall.png);
}